<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.r2d2_app">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon2"
        android:label="R2D2"
        android:roundIcon="@drawable/ic_icon2"
        android:supportsRtl="true"
        android:theme="@style/Theme.R2D2app">
        <activity
            android:name=".MainActivity"
            android:label="R2D2"
            android:theme="@style/Theme.R2D2app.NoActionBar">
        </activity>
        <activity
            android:name=".SplashActivity"
            android:label="R2D2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>